<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OPAS</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  
	  <context-param>
		  <param-name>oracle.jdbc.J2EE13Compliant</param-name>
		  <param-value>true</param-value>
	  </context-param>
  
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>nit.mca5.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShop1Controller</display-name>
    <servlet-name>AddShop1Controller</servlet-name>
    <servlet-class>nit.mca5.controller.AddShop1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShop1Controller</servlet-name>
    <url-pattern>/AddShop1Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopkeeperHomeController</display-name>
    <servlet-name>ShopkeeperHomeController</servlet-name>
    <servlet-class>nit.mca5.controller.ShopkeeperHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopkeeperHomeController</servlet-name>
    <url-pattern>/ShopkeeperHomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopListController</display-name>
    <servlet-name>ShopListController</servlet-name>
    <servlet-class>nit.mca5.controller.ShopListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopListController</servlet-name>
    <url-pattern>/ShopListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>nit.mca5.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenController</display-name>
    <servlet-name>OpenController</servlet-name>
    <servlet-class>nit.mca5.controller.OpenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenController</servlet-name>
    <url-pattern>/OpenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>nit.mca5.controller.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WaitingController</display-name>
    <servlet-name>WaitingController</servlet-name>
    <servlet-class>nit.mca5.controller.WaitingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitingController</servlet-name>
    <url-pattern>/WaitingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMenuController</display-name>
    <servlet-name>AddMenuController</servlet-name>
    <servlet-class>nit.mca5.controller.AddMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenuController</servlet-name>
    <url-pattern>/AddMenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>nit.mca5.controller.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMenuController2</display-name>
    <servlet-name>AddMenuController2</servlet-name>
    <servlet-class>nit.mca5.controller.AddMenuController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenuController2</servlet-name>
    <url-pattern>/AddMenuController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentController</display-name>
    <servlet-name>AppointmentController</servlet-name>
    <servlet-class>nit.mca5.controller.AppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentController</servlet-name>
    <url-pattern>/AppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderRequestController</display-name>
    <servlet-name>OrderRequestController</servlet-name>
    <servlet-class>nit.mca5.controller.OrderRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderRequestController</servlet-name>
    <url-pattern>/OrderRequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServedCOntroller</display-name>
    <servlet-name>UserServedCOntroller</servlet-name>
    <servlet-class>nit.mca5.controller.UserServedCOntroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServedCOntroller</servlet-name>
    <url-pattern>/UserServedCOntroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceCompletedController</display-name>
    <servlet-name>ServiceCompletedController</servlet-name>
    <servlet-class>nit.mca5.controller.ServiceCompletedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceCompletedController</servlet-name>
    <url-pattern>/ServiceCompletedController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateController</display-name>
    <servlet-name>RateController</servlet-name>
    <servlet-class>nit.mca5.controller.RateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateController</servlet-name>
    <url-pattern>/RateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitialSearchController</display-name>
    <servlet-name>InitialSearchController</servlet-name>
    <servlet-class>nit.mca5.controller.InitialSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitialSearchController</servlet-name>
    <url-pattern>/InitialSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortController</display-name>
    <servlet-name>SortController</servlet-name>
    <servlet-class>nit.mca5.controller.SortController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortController</servlet-name>
    <url-pattern>/SortController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenCloseShopController</display-name>
    <servlet-name>OpenCloseShopController</servlet-name>
    <servlet-class>nit.mca5.controller.OpenCloseShopController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenCloseShopController</servlet-name>
    <url-pattern>/OpenCloseShopController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Notification2Controller</display-name>
    <servlet-name>Notification2Controller</servlet-name>
    <servlet-class>nit.mca5.controller.Notification2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notification2Controller</servlet-name>
    <url-pattern>/Notification2Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController2</display-name>
    <servlet-name>SignupController2</servlet-name>
    <servlet-class>nit.mca5.controller.SignupController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController2</servlet-name>
    <url-pattern>/SignupController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PwdResetController</display-name>
    <servlet-name>PwdResetController</servlet-name>
    <servlet-class>nit.mca5.controller.PwdResetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdResetController</servlet-name>
    <url-pattern>/PwdResetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PwdResetController2</display-name>
    <servlet-name>PwdResetController2</servlet-name>
    <servlet-class>nit.mca5.controller.PwdResetController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdResetController2</servlet-name>
    <url-pattern>/PwdResetController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PwdResetController3</display-name>
    <servlet-name>PwdResetController3</servlet-name>
    <servlet-class>nit.mca5.controller.PwdResetController3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdResetController3</servlet-name>
    <url-pattern>/PwdResetController3</url-pattern>
  </servlet-mapping>
</web-app>